html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #222222;
    color: white;
}

.grid-tbody {
    color: white;
}

.grid-line {
    cursor: pointer;
}

.grid-line:hover {
    color: #ffdd48
}

.page-link {
    background-color: #b36c10;
    color: white;
}

.page-link:hover {
    background-color: #ffdd48;
    color: white;
}

.grid-thead {
    background-color: #b36c10;
    color: white;
}